<html>
<head>
<title>Random Orbit</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1250">
<link href="css/styles.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
<!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}

function changeImages() {
	if (document.images && (preloadFlag == true)) {
		for (var i=0; i<changeImages.arguments.length; i+=2) {
			document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
		}
	}
}

var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		home_page_over = newImage("images/home-page-over.jpg");
		about_us_over = newImage("images/about-us-over.jpg");
		services_over = newImage("images/services-over.jpg");
		portfolio_over = newImage("images/portfolio-over.jpg");
		news_over = newImage("images/news-over.jpg");
		contacts_over = newImage("images/contacts-over.jpg");
		preloadFlag = true;
	}
}

// -->
</script>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="preloadImages();">
<center>

<!-- ImageReady Slices (index.psd) -->
<table width="776" height="681" border="0" cellpadding="0" cellspacing="0" class="frame" id="Table_01">
	<tr>
		<td rowspan="11">
			<img src="images/main.jpg" width="80" height="680" alt=""></td>
		<td colspan="12">
			<img src="images/main-03.jpg" width="617" height="114" alt=""></td>
		<td rowspan="11">
			<img src="images/main-04.jpg" width="78" height="680" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="114" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="#"
				onmouseover="window.status='home page'; changeImages('home_page', 'images/home-page-over.jpg'); return true;"
				onmouseout="window.status=''; changeImages('home_page', 'images/home-page.jpg'); return true;"
				onmousedown="changeImages('home_page', 'images/home-page-over.jpg'); return true;"
				onmouseup="changeImages('home_page', 'images/home-page-over.jpg'); return true;">
				<img name="home_page" src="images/home-page.jpg" width="112" height="35" border="0" alt="home page"></a></td>
		<td colspan="2">
			<a href="#"
				onmouseover="window.status='about us'; changeImages('about_us', 'images/about-us-over.jpg'); return true;"
				onmouseout="window.status=''; changeImages('about_us', 'images/about-us.jpg'); return true;"
				onmousedown="changeImages('about_us', 'images/about-us-over.jpg'); return true;"
				onmouseup="changeImages('about_us', 'images/about-us-over.jpg'); return true;">
				<img name="about_us" src="images/about-us.jpg" width="98" height="35" border="0" alt="about us"></a></td>
		<td>
			<a href="#"
				onmouseover="window.status='services'; changeImages('services', 'images/services-over.jpg'); return true;"
				onmouseout="window.status=''; changeImages('services', 'images/services.jpg'); return true;"
				onmousedown="changeImages('services', 'images/services-over.jpg'); return true;"
				onmouseup="changeImages('services', 'images/services-over.jpg'); return true;">
				<img name="services" src="images/services.jpg" width="91" height="35" border="0" alt="services"></a></td>
		<td colspan="3">
			<a href="#"
				onmouseover="window.status='portfolio'; changeImages('portfolio', 'images/portfolio-over.jpg'); return true;"
				onmouseout="window.status=''; changeImages('portfolio', 'images/portfolio.jpg'); return true;"
				onmousedown="changeImages('portfolio', 'images/portfolio-over.jpg'); return true;"
				onmouseup="changeImages('portfolio', 'images/portfolio-over.jpg'); return true;">
				<img name="portfolio" src="images/portfolio.jpg" width="106" height="35" border="0" alt="portfolio"></a></td>
		<td colspan="2">
			<a href="#"
				onmouseover="window.status='news'; changeImages('news', 'images/news-over.jpg'); return true;"
				onmouseout="window.status=''; changeImages('news', 'images/news.jpg'); return true;"
				onmousedown="changeImages('news', 'images/news-over.jpg'); return true;"
				onmouseup="changeImages('news', 'images/news-over.jpg'); return true;">
				<img name="news" src="images/news.jpg" width="76" height="35" border="0" alt="news"></a></td>
		<td colspan="2">
			<a href="#"
				onmouseover="window.status='contacts'; changeImages('contacts', 'images/contacts-over.jpg'); return true;"
				onmouseout="window.status=''; changeImages('contacts', 'images/contacts.jpg'); return true;"
				onmousedown="changeImages('contacts', 'images/contacts-over.jpg'); return true;"
				onmouseup="changeImages('contacts', 'images/contacts-over.jpg'); return true;">
				<img name="contacts" src="images/contacts.jpg" width="134" height="35" border="0" alt="contacts"></a></td>
		<td>
			<img src="images/spacer.gif" width="1" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="12">
			<img src="images/main-17.jpg" width="617" height="99" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="99" alt=""></td>
	</tr>
	<tr>
		<td colspan="6" align="left" valign="top" bgcolor="#FFFFFF">
			<img src="images/wel.jpg" width="365" height="63" alt=""></td>
		<td colspan="6" align="left" valign="top" bgcolor="#FFFFFF">
			<img src="images/news-19.jpg" width="252" height="63" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="63" alt=""></td>
	</tr>
	<tr>
		<td width="35" height="83" align="left" valign="top" bgcolor="#FFFFFF"></td>
		<td width="330" height="83" colspan="5" align="left" valign="top" bgcolor="#FFFFFF"><span class="text1">Ea consetetur sadi lorem sed lorem ipsum dolor sed 
          </span><br>
      Dolores et ea consetetur sadi pscing elit consetetur pscing elitr, sed diam nonumy consetetur sadi lorem sed  et ea consetetur sadi pscing elit pscing elitr, sed diam nonumy consetetur sadi lorem sed  et ea consetetur sadi pscing elit <a href="#" class="a">| more</a></td>
		<td colspan="3" rowspan="3" align="left" valign="top" bgcolor="#FFFFFF">
			<img src="images/news-20.jpg" width="47" height="166" alt=""></td>
		<td colspan="2" rowspan="3" align="left" valign="top" bgcolor="#FFFFFF" width="180" height="166" style="padding-top:3px"><p><span class="text2">20.06.2007</span> sadi pscing elit consetetur lorem ipsum sadi lorem sed  et ea sadi pscing elit <a href="#" class="a">| more</a><br>
		  <br>
		  <span class="text2">19.06.2007 </span>sadi pscing elit consetetur lorem ipsum sadi lorem sed  et ea sadi pscing elit <a href="#" class="a">| more</a><br>
		  <br>
		  <span class="text2">18.06.2007</span> sadi pscing elit consetetur lorem ipsum sadi lorem sed  et ea sadi pscing elit <a href="#" class="a">| more</a></p>
	    </td>
		<td width="25" height="166" rowspan="3" align="left" valign="top" bgcolor="#FFFFFF"></td>
		<td>
			<img src="images/spacer.gif" width="1" height="83" alt=""></td>
	</tr>
	<tr>
		<td colspan="6" align="left" valign="top" bgcolor="#FFFFFF">
			<img src="images/feat.jpg" width="365" height="38" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3" align="left" valign="top" bgcolor="#FFFFFF">
			<img src="images/feat-23.jpg" width="160" height="104" alt=""></td>
		<td width="205" height="104" colspan="3" rowspan="3" align="left" valign="top" bgcolor="#FFFFFF"><span class="text1">Ea consetetur sadi lorem sed lorem ipsum dolor sed</span> <br>
	    Dolores et ea consetetur sadi pscing elit consetetur pscing elitr, sed diam nonumy consetetur sadi lorem sed  et ea et ea consetetur sadi pscing elit <a href="#" class="a">| more</a></td>
		<td>
			<img src="images/spacer.gif" width="1" height="45" alt=""></td>
	</tr>
	<tr>
		<td colspan="6" align="left" valign="top" bgcolor="#FFFFFF">
			<img src="images/test.jpg" width="252" height="39" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="39" alt=""></td>
	</tr>
	<tr>
		<td width="24" height="91" rowspan="2" align="left" valign="top" bgcolor="#FFFFFF"></td>
		<td width="203" height="91" colspan="4" rowspan="2" align="left" valign="top" bgcolor="#FFFFFF"><span class="text1">Ea consetetur sadi lorem sed 
          </span><br>
      Dolores et ea consetetur sadi pscing elit consetetur pscing elitr, sed diam nonumy consetetur sadi lorem sed  et ea et ea consetetur sadi pscing elit <a href="#" class="a">| more</a></td>
		<td width="25" height="91" rowspan="2" align="left" valign="top" bgcolor="#FFFFFF"></td>
		<td>
			<img src="images/spacer.gif" width="1" height="20" alt=""></td>
	</tr>
	<tr>
		<td align="left" valign="top" bgcolor="#FFFFFF">
			<img src="images/feat-25.jpg" width="35" height="71" alt=""></td>
	  <td width="330" height="71" colspan="5" align="left" valign="top" bgcolor="#FFFFFF" style="line-height:18px"><a href="#" class="b">Dolores et ea consetetur sadi pscing elit consetetur pscing elitr,</a><br> 
        <a href="#" class="b">sed diam nonumy consetetur sadi lorem sed  et ea et ea pscing </a><br>
        <a href="#" class="b">elitr, sed diam nonumy consetetur sadi lorem sed  et ea et ea</a></td>
		<td>
			<img src="images/spacer.gif" width="1" height="71" alt=""></td>
	</tr>
	<tr>
		<td width="617" height="73" colspan="12" align="center" valign="middle" background="images/b_links.jpg" class="text3" ><a href="#">HOME</a> | <a href="#">ABOUT US</a> | <a href="#">SERVICES</a> | <a href="#">PORTFOLIO</a> | <a href="#">NEWS &amp; EVENTS</a> | <a href="#">SUPPORT</a> | <a href="#">CONTACTS</a><br>
        Copyright © Your Company Name. Designed by <a href="http://www.templateyes.com" target="_blank">TemplateYes</a>.</td>
		<td>
			<img src="images/spacer.gif" width="1" height="73" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/spacer.gif" width="80" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="35" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="77" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="48" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="50" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="91" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="64" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="24" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="18" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="5" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="71" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="109" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="25" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="78" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
  <!-- End ImageReady Slices -->
  <table width="728" border="0" cellpadding="10" cellspacing="0">
    <tr> 
      <td align="center"> <font color="#eeeeee">Sponsored by</font><br>
        <a href="http://www.wix.com/free/website?utm_campaign=templateyes&experiment_id=templateyesexp" title="Free Flash Templates" target="_blank"><img src="images/banner-728x90.jpg" width="728" height="90" border="0" alt="Free Flash Templates"></a></td>
    </tr>
  </table>
</center>
</body>

</html>