<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>RESTFUL Satellite Tracking</title>
<%= stylesheet_link_tag "styles"  %>
<%= javascript_include_tag "cufon-yui, font" %>
<script type="text/javascript">
			Cufon.replace('h1');
			Cufon.replace('h2');
			Cufon.replace('h3');
			Cufon.replace('h4');
</script>
</head>

<body>
<div id="container">
	
	<!-- PDF download and print links -->
	<div id="print_download_links">
		<a href="http://sciencehackday.com/">Science Hack Day</a>|<a href="http://www.celestrak.com">Celestrak</a>|<a href="mailto:info@randomorbit.com">Contact Us</a>
	</div>
	<!-- End -->
	
	<div id="content">
		<div id="header">
			<div id="contacts">
				<!-- Name -->
				<div id="name">
					<h1>Random <strong>Orbit</strong></h1>
				</div>
				<!-- End -->
				
				<!-- Addresses -->
				<div id="addresses">
					<h2><span class="blue">w:</span> <a href="http://www.randomorbit.net">www.randomorbit.net</a></h2>
					<h2><span class="blue">e:</span> <a href="mailto:info@randomorbit.net">info@randomorbit.net</a></h2>
					<h2><span class="blue">t:</span> <a href="http://www.twitter.com/random_orbit">@random_orbit</a></h2>
					<h3><span class="blue">c:</span> Created at Science Hack Day, London 2010</h3>
				</div>
				<!-- End -->
				
				<!-- Social networks -->
				<div id="socialnetworks">
					<div>
						<a href="http://twitter.com/random_orbit"><img src="images/twitter.png" alt="Twitter" title="Twitter" border="0"/></a>
						<a href="#"><img src="images/facebook.png" alt="Facebook" title="Facebook" border="0"/></a>
						<a href="http://sciencehackday.com/"><img src="images/shd2010.png" alt="Science Hack Day" title="Science Hack Day" border="0"/></a>
					</div>
				</div>
				<!-- End -->
			</div>
			
			<!-- Photo -->
			<!-- <div id="photo_container">
				<img src="images/photo.jpg" alt="Me" title="Me"/>
			</div> -->
			<!-- End -->
			
		</div>
		
		<div id="leftcolumn">
			
			<!-- Education Section -->
			<div class="section_heading">
				<span>ABOUT</span>
			</div>
			<!-- End -->
			
			<!-- Education Entry 1 -->
			<div class="education_entry">
				<div class="education_title">
					RESTFUL Services for Satellites
				</div>
				<h6>Created at Science Hack Day 2010 in London</h6>
				<div class="text_content">				
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
			<!-- End -->
			
			<!-- Computer Skills Section -->
			<div class="section_heading">
				<span>HOW TO USE THIS SITE</span>
			</div>
			<!-- End -->
			
			<!-- Skill Set 1 -->
			<div class="misc_title">
				XML, JSON and KML
			</div>
			<div class="text_content">				
				Donec gravida cursus libero, ac tristique erat pulvinar sed. Mauris pulvinar, leo ut faucibus sagittis, sapien enim dictum erat, in rutrum libero erat nec lacus. 
			</div>
			<br clear="all"/>
			<!-- End -->
			
			<!-- Skill Set 1 -->
			<div class="misc_title">
				XML, JSON and KML
			</div>
			<div class="text_content">				
				Donec gravida cursus libero, ac tristique erat pulvinar sed. Mauris pulvinar, leo ut faucibus sagittis, sapien enim dictum erat, in rutrum libero erat nec lacus. 
			</div>
			<br clear="all"/>
			<!-- End -->
			
			<!-- Languages & Misc Section -->
			<div class="section_heading">
				<span>DEVELOPMENT TEAM</span>
			</div>
			<!-- End -->
			
			<!-- Languages -->
			<div class="misc_title">
				The Team Behind this Site
			</div>
			<div class="misc">
				<ul>
					<li>Phil Cowans - Rails Fiend!</li>
					<li>Robert Simpson - Astrophysics Researcher</li>
					<li>Santa - Present Giver</li>
					<li>Mr. Hanky - Christmas Poo</li>
				</ul>
			</div>
			<!-- End -->
			
		</div>
		
		<div id="rightcolumn">
			
			<!-- Work Experience Section -->
			<div class="section_heading">
				<span>WHAT YOU CAN DO</span>
			</div>
			<!-- End -->
			
			<!-- Work Entry 1 -->
			<div class="work_entry">
				<div class="work_title">
					Orbital Tracking
				</div>
				<a href="#"><div class="work_date">
					XML Example
				</div></a>
				<br clear="all"/>
				<h6>Locate satellites in real time</h6>
				<div class="text_content">				
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
			<!-- End -->
			
			<!-- Work Entry 2 -->
			<div class="work_entry">
				<div class="work_title">
					Orbit Progression
				</div>
				<a href="#"><div class="work_date">
					KML Example
				</div></a>
				<br clear="all"/>
				<h6>Predict future locations of satellites</h6>
				<div class="text_content">				
					Donec gravida cursus libero, ac tristique erat pulvinar sed. Mauris pulvinar, leo ut 
					faucibus sagittis, sapien enim dictum erat, in rutrum libero erat nec lacus. Vimus 
					sodales felis non erat vestibulum gravida. Praesent molestie euismod eleifend. 
					Mauris elementum, quam ac semper tincidunt, diam urna blandit arcu, eget 
					vulputate elit libero at arcu.
				</div>
			</div>
			<!-- End -->
			
			<!-- Work Entry 3 -->
			<div class="work_entry">
				<div class="work_title">
					Satellite Spotting
				</div>
				<a href="#"><div class="work_date">
					JSON Example
				</div></a>
				<br clear="all"/>
				<h6>Find out when satellites will be visible</h6>
				<div class="text_content">				
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
			<!-- End -->
				
			<!-- Awards & Achievements Section -->
			<div class="section_heading">
				<span>UNDER DEVELOPMENT</span>
			</div>
			<!-- End -->
			
			<!-- Awards -->
			<div class="awards">
				<ul>
					<li>Iridium Flare predictions</li>
					<li>Personal Twitter Updates</li>
					<li>Mobile Satellite Tracking</li>
					<li>Real-time satellite alerts</li>
				</ul>
			</div>
			<!-- End -->

		</div>
		
		<br clear="all"/>
		
	</div>
	
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>